body {background:url(images/background3.png) no-repeat center -50px; }


#logo { width: 450px; position: absolute; top: 30px; left: 6%;}


#catalog {position:absolute; top:180px; left: 7%; width:100%;}
#catalog img {border:none;}
#catalog .box {display:block; width:400px; margin:0 auto; border-bottom:dotted 1px black; text-decoration:none; color:#333;}
#catalog .box:hover {border-bottom:solid 1px black;}


ul,h2,p{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none;}
#box{position: absolute; top: 280px; left: 9%; width:862px;padding:10px 24px 20px;overflow:hidden;margin:20px auto 0;}
.left{width:720px;float:left;}
#box h2{height:38px;border-bottom:1px solid #D2A1A1;no-repeat 0 10px;padding-left:20px;}
#box h2 strong{float:left; line-height:38px;color:#885050;font-weight:normal;}
#box h2 a{float:right;width:52px;height:20px;background:url(img/a_bg.png) no-repeat;font-size:12px;text-indent:10px;color:#fff;line-height:12px;font-weight:normal;margin-top:10px;}
#box li{height:30px;position:relative;border-bottom:1px dashed #D1A1A1;}
#box li div,#box li p{height:30px;position:absolute;top:0;left:0;width:100%;}
#box li p{background:#fff;opacity:0;filter:alpha(opacity=0);}
#box li div a,#box li div span{line-height:30px;font-size:12px;height:30px;}
#box li div a {float:left;background:url(img/li_bg.gif) 8px 12px no-repeat;padding-left:20px;color:#7F5454;width:402px;overflow:hidden;}
#box li div span{padding-right:10px;float:right;color:#CF9494;}






